/* Новости (подробно) */

.news-title {
   padding-top: 75px;
}

.news-title .info li {
   color: #a5abb3;
}

.news-title.has-bg .info li {
   color: #ffffff;
}

.news-title.has-bg {
   padding-top: 0;
   position: relative;
   height: 500px;
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
   color: #ffffff;
   margin: 0 -100px;
}
.news-title .tag {
   position: absolute;
   left: 0;
   top: 0;
   z-index: 10;
   padding: 0 6px;
   background: #979ea7;
   color: #fff;
   font-size: 14px;
   font-weight: 300;
   height: 20px;
   line-height: 20px;
   border-radius: 0 0 10px 0;
}
.news-title .tag.color-new {background-color: #36b121;}
.news-title .tag.color-info {background-color: #979ea7;}
.news-title .tag.color-important {background-color: #dc2321;}
.news-title .tag.color-company {background-color: #007bc6;}
.news-title .tag.color-promo {background-color: #ff6623;}

.news-title.has-bg .inner {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 0 100px 40px;
}

.news-title h1 {
   font-size: 36px;
}

.news-title .info {
   margin-bottom: 40px;
}

.news-title .info li {
   display: inline-block;
   vertical-align: top;
   font-size: 14px;
   font-weight: 300;
}

.news-title .info li:before {
   content: '|';
   margin-left: 22px;
   margin-right: 25px;
}

.news-title .info li:first-child:before {
   content: none;
}

.news-article {
   background: #fff;
   padding: 0 100px 90px;
}

.news-article .text_block {
   padding-top: 45px;
}

.news-article .news-bottom {
   
}
.product-list {}
.product-list a {
    text-decoration: none;
    border-bottom: 1px solid #e6193c;
    color: #1a1919;
    font-size: 18px;
}

.social_block .label {
   display: inline-block;
   vertical-align: middle;
   margin-right: 7px;
   color: #999999;
   font-size: 14px;
   font-weight: 300;
}

.social_block .social {
   display: inline-block;
   vertical-align: middle;
}

.social_block .social a {
   width: 40px;
   height: 40px;
   line-height: 40px;
   background: #222;
   text-align: center;
   color: #ffffff;
   margin-right: 5px;
}

.social_block .social a:hover {
   opacity: 1;
   background: #007bc6;
}

.social_block .social .ya-share2 a {
    background: transparent;
}

.social_block .social .ya-share2 .ya-share2__badge {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 40px;
}

.social_block .social .ya-share2 .ya-share2__icon {
    vertical-align: middle;
    width: 28px;
    height: 28px;
}

/* Новости (подробно) */