.underline-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.underline-link::before{
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: red;
  transition: width .5s ease-in-out, left .5s ease-in-out;
  left: 50%;
  bottom: 0;
}

.underline-link::after{
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 0;
  background-color: red;
  transition: width .5s ease-in-out;
  left: 50%;
  bottom: 0;
}

.underline-link:hover {
  background-color: transparent !important;
}

.underline-link:hover::before{
  width: 50%;
  left: 0;
}
.underline-link:hover::after{
  width: 50%;
}

.nav.flex-column>li>a:hover{
  text-decoration: underline;
  background-color: transparent !important;
}




.top-banner {
    height: 60px;
    background: url(/local/media/img/top_banner.jpg);
    background-size: cover;
    background-position-x: center;
}


.logo-text {
    font-size: 4rem;
    font-style: italic;
    text-shadow: 1px 1px 2px black, 0 0 1px red;
}
.logo-text a {height: auto;}
.logo-text a:hover { text-decoration: none; }
.logo-mobile-text { color: #fff; }

.icon-svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}
.promo-page .icon-svg {font-size: 2em;}

@media (max-width: 767px) {
    .bx-header-logo {
        height: 65px!important;
    }
}
