.news-article {
   background: #fff;
   padding: 40px 100px;
}
.promo-item .discount {
    color: #ee2000;
    text-align: center;
    height: 64px;
    line-height: 60px;
    border: 2px dashed #efefef;
    font-weight: bold;
    font-size: 54px;
    margin-top: 20px;
}

.promo-item .text {
    margin-top: 20px;
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
}
.promo-catalog-items .download-link {
    text-align: center;
    display: block;
    margin-top: -10px;
}

.promo-catalog-items .download-link .link {
    color: #007bc6;
    border-color: transparent;
}

.promo-catalog-items .download-link .text {
    border-bottom: 1px dashed transparent;
    transition: 0.15s;
}

.promo-catalog-items .download-link .link:hover .text {
    border-color: #007bc6;
}

.download-link .icon-excel {
    margin-top: -2px;
}

.download-link .icon-svg {
    font-size: 10px;
    margin-left: 3px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 0;
}

.icon-excel {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    background: url(/local/media/img/icons/excel.svg) no-repeat 50% 50%;
    background-size: contain;
    width: 30px;
    height: 30px;
}
