/* 1st level */
.bx_vertical_menu_advanced.bx_red{
	border-left:7px solid #da3737; /*#f0bdb5;*/
	background:#da3737;
}
/* // 1st level */
.bx_vertical_menu_advanced.bx_red .bx_hma_one_lvl>a{
	border-bottom: 1px solid #f9e6e3;
}
/* The Container */
/*// Container */

/* 2nd level*/
.bx_vertical_menu_advanced.bx_red .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent>a{color: #742B21}
.bx_vertical_menu_advanced.bx_red .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent>a:hover{color: #742121}
/* // 2nd level*/

/* 3rd level */
.bx_vertical_menu_advanced.bx_red .bx_hma_one_lvl .bx_children_container .bx_children_block li.parent ul a:hover{
	background:#f7f3e0;
	box-shadow:inset 0 1px 1px 0 #ebe9e3
}
/* // 3rd level */

/* Panel */
/* // The Panel*/
